@inherits LayoutComponentBase


<header>
    <h1>Dithery (dithering for Blazor)</h1>
</header>

<main>
    <section>
        <form>
            <label for="imagetodither">Choose an image to dither:</label>
            <input type="file" id="imagetodither" name="imagetodither" accept="image/png, image/jpeg">
        </form>
    </section>
</main>
