# This workflow will publish the file to CloudFlare

name: .NET publish to CF

on:
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Install wasm-tools
      run: dotnet workload install wasm-tools
    - name: Add build info
      run: |
        current_date=$(date --iso-8601=minutes)
        git_short_hash=$(git rev-parse --short HEAD)
        echo $current_date
        echo $git_short_hash
        sed -i "s/{0}/$current_date/g" wwwroot/index.html
        sed -i "s/{1}/$git_short_hash/g" wwwroot/index.html
    - name: Publish release
      run: dotnet publish -c Release
    - name: Remove .wasm file
      run: rm bin/Release/net10.0/publish/wwwroot/_framework/*.wasm
    - name: Remove .gz file
      run: rm bin/Release/net10.0/publish/wwwroot/_framework/*.gz
    - name: Upload to pages
      uses: cloudflare/wrangler-action@v3
      with:
        apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        accountId: ${{ secrets.CF_ACCOUNT_ID }}
        command: pages deploy bin/Release/net10.0/publish/wwwroot --project-name=dithery
    
